# Visual C++ cache files
*.sdf
*.aps
*.ncb
*.opensdf
*.cachefile
*.ipch
/ipch

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# tlog file, directory
*.tlog/
*.tlog

# immediate, output files
*.pdb
*.ilk
*.exe
*.log
*.[Oo]bj
*.pidb
*.idb

# CUDA immediate files
*.cache
*.deps
*.lastbuildstate


# Platform dependant garbage files
[Tt]humbs.db
*.DS_Store

